.contact {
  .inner {
    text-align: center;
  }
  .contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    margin-top: 32px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgb(240, 65, 202);
  }
  .inputs {
    border-radius: 20px;
    border: 3px solid #e5e5e5;
  }
}
